parameters:
    level: max

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*
        - *Source/*

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            message: '#\$service\-\>call\("configure", \[\[ \.\.\. \]\]\) must be followed by exact array#'
            paths:
                 - tests/Rector/MethodCall/ArrayToFluentCallRector/config/configured_rule.php
                 - config/sets/cakephp-fluent-options.php

        # waits for new phpstan compatible with php-parser 4:13
        - '#Access to an undefined property PhpParser\\Node\\Arg\|PhpParser\\Node\\VariadicPlaceholder\:\:\$value#'
