parameters:
    level: max

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*
        - *Source/*

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # finder known type
        - '#Method Rector\\CakePHP\\Rector\\FileWithoutNamespace\\ImplicitShortClassNameUseStatementRector\:\:findNames\(\) should return array<PhpParser\\Node\\Name\> but returns array<PhpParser\\Node\>#'

        - '#This property type might be inlined to PHP\. Do you have confidence it is correct\? Put it here#'

        -
            message: '#\$service\-\>call\("configure", \[\[ \.\.\. \]\]\) must be followed by exact array#'
            paths:
                 - tests/Rector/MethodCall/ArrayToFluentCallRector/config/configured_rule.php
                 - config/sets/cakephp-fluent-options.php
